/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  --color-background: rgb(240, 244, 255); /*#f0f4ff;*/
  --color-primary: rgb(255, 189, 0); /*#ffbd00;*/

  --color-ui-background: rgb(51, 51, 51); /*#333333;*/
  --color-ui-background-light: rgb(73, 73, 73); /*#494949;*/
  --color-ui-separator: rgb(110, 91, 4); /*#6e5b04;*/
  --color-ui-primary: var(--color-primary);
  --color-ui-hover: rgb(236, 174, 2); /*#ecae02;*/

  --color-text-light: white;
  --color-text-dark: black;
  --color-text-link: rgb(22, 26, 45); /*#161a2d;*/
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--color-background);
  font-size: 100%;
}

ul {
  list-style-type: none;
}

/* Map styles */

#map-container {
  position: relative;
  height: 100vh;
  width: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.popup-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.popup-buttons button {
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  background-color: #007bff; /* Default button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-buttons button:hover {
  background-color: #0056b3; /* Darker blue */
}

#remove-marker {
  background-color: #ff0000; /* Red for delete */
}

#remove-marker:hover {
  background-color: #cc0000; /* Darker red */
}

#set-destination {
  background-color: #28a745; /* Green for start */
}

#set-destination:hover {
  background-color: #218838; /* Darker green */
}

#set-start {
  background-color: #007bff;
}

#set-start:hover {
  background-color: #0056b3;
}

#start-navigation {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  padding: 1.3em 3em;

  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 12px;
  font-weight: 500;

  color: var(--color-text-dark);
  background-color: #fff;

  outline: none;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;

  cursor: pointer;
  z-index: 400;
}

#start-navigation:hover {
  background-color: var(--color-ui-primary);
  box-shadow: 0px 15px 20px rgba(229, 186, 46, 0.4);
  transform: translateY(-7px);
  z-index: 600;
}

#start-navigation:active {
  transform: translateY(-1px);
  z-index: 600;
}

/* Sidebar */

.sidebar {
  height: 100%;
  width: 85px;
  position: fixed;
  top: 0;
  left: 0;

  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  z-index: 500;

  background: var(--color-ui-background);

  transition: all 0.4s ease;
}
.sidebar:hover {
  width: 260px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}
.sidebar .sidebar-header img {
  width: 42px;
}
.sidebar .sidebar-header h2 {
  margin-left: 23px;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  color: var(--color-text-light);
}
#replay-animation {
  position: fixed;
  bottom: 80px;
  right: 20px;
  padding: 1.2em 2.5em;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 500;

  color: var(--color-text-dark);
  background-color: white;

  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 999;
  cursor: pointer;
}

#replay-animation:hover {
  background-color: var(--color-ui-primary);
  box-shadow: 0px 15px 20px rgba(229, 186, 46, 0.4);
  transform: translateY(-5px);
}

#replay-animation:active {
  transform: translateY(-1px);
}
/* Sidebar links */

.sidebar-links h4 {
  position: relative;
  height: 1lh;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--color-text-light);
  font-weight: 500;
  white-space: nowrap;
}

.sidebar-links h4 span {
  visibility: hidden;
  width: 0;
  transition: width 0.2s ease, margin-right 0.2s ease;
}
.sidebar:hover .sidebar-links h4 span {
  visibility: visible;
  width: 8ch; /* hack - unset, initial and *-content can't transition */
  margin-right: 1em;
  transition: width 0s;
}

.sidebar-links .menu-separator {
  width: 100%;
  height: 1px;
  background: var(--color-ui-separator);
}

.sidebar-links {
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
  list-style: none;
}
.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 15px 10px;
  color: var(--color-text-light);
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;
  transition: 0.2s ease;
}
.sidebar-links li a:hover {
  color: var(--color-text-link);
  background: var(--color-ui-primary);
  border-radius: 4px;
}

.dropdown-container {
  position: relative;
}

.dropdown-trigger {
  display: flex;
  gap: 20px;
  padding: 15px 10px;
  align-items: center;
  color: var(--color-text-light);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s ease,
    visibility 0.3s ease, transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.dropdown-container.active .dropdown-menu {
  max-height: 500px;
  visibility: visible;
}

.dropdown-icon {
  margin-left: auto;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.dropdown-container.active .dropdown-icon {
  transform: rotate(180deg);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dropdown-icon:not(.active) {
  transition: transform 0.2s cubic-bezier(0.4, 0, 1, 1) !important;
}

.dropdown-trigger:hover {
  background: var(--color-primary);
  color: var(--color-text-link);
  border-radius: 4px;
}

.dropdown-menu:not(.active) {
  transition: max-height 0.25s cubic-bezier(0.4, 0, 1, 1),
    opacity 0.2s ease 0.05s, visibility 0.25s ease;
}

#bookmarks-dropdown li {
  margin: 2px 0;
  padding: 0;
}

.bookmark-item {
  cursor: pointer;
  color: var(--color-text-light);
  overflow: hidden;
  background: var(--color-ui-background-light);
  padding-left: 12px;
  padding-right: 40px;
  border-radius: 4px;

  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.bookmark-item:hover {
  color: var(--color-text-link);
  background: var(--color-ui-primary);
}

.button-delete {
  cursor: pointer;
  background: transparent;
  border: none;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.button-delete:hover {
  transform: scale(1.4);
  opacity: 0.8;
}

.accessible.active {
  background: var(--color-ui-primary);
  color: var(--color-text-dark);
  border-radius: 4px;
}
.accessible.active:hover {
  background: var(--color-ui-hover);
}

@media (max-width: 768px) {
  #bookmarks-dropdown li {
    flex-direction: column;
    min-height: auto;
  }
}

/* Loading animation */

@keyframes l5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: calc(var(--size) * 1.5);
    height: calc(var(--size) * 1.5);
  }
  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: calc(var(--size) * 1.5);
    height: calc(var(--size) * 1.5);
  }
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}

.loader {
  --c: no-repeat linear-gradient(var(--color-primary) 0 0);
  --size: 40px;

  width: var(--size);
  height: var(--size);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: calc(var(--size) / 2) calc(var(--size) / 2);
  animation: l5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
}

/* maplibre changes */

.maplibregl-popup-content {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.maplibregl-ctrl-group button + button {
  border-top: none;
}

.maplibregl-ctrl-indoorequal {
  background: var(--color-ui-background-light) !important;
  border-radius: 4px;
}

.maplibregl-ctrl-indoorequal button {
  width: auto;
  min-width: 40px;
  margin: 4px;
  background: var(--color-ui-background);
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.maplibregl-ctrl-indoorequal button.maplibregl-ctrl-active {
  background: var(--color-ui-primary);
  color: var(--color-text-dark);
}

.maplibregl-ctrl-indoorequal button.maplibregl-ctrl-active:hover {
  color: white;
}

.attributions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-size: 0.8em;
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  box-sizing: border-box;
  width: auto;
  white-space: nowrap;
}

/* Mobile optimization */

@media (max-width: 768px) {
  .maplibregl-ctrl-indoorequal {
    bottom: 65px;
    left: 10px;
    flex-direction: row;
  }

  .maplibregl-ctrl-indoorequal button {
    padding: 6px;
    min-width: 35px;
  }
}

/* Search Bar */
#autocomplete {
  width: 300px;
  padding-top: 15px;
  margin-left: 100px;
}
/* Help Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 60px;
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 90%;
  max-width: 850px;
  border-radius: 12px;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

.modal-content h2,
.modal-content h3 {
  color: var(--color-ui-background);
  margin-bottom: 10px;
}

.modal-content ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

.modal-content ul li {
  margin-bottom: 10px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
}
.floating-decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.floating-decor span {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  background: var(--color-ui-primary);
  opacity: 0.3;
  border-radius: 50%;
  animation: float 10s ease-in-out infinite;
}

.floating-decor span:nth-child(1) {
  left: 20%;
  top: 30%;
  animation-delay: 0s;
}

.floating-decor span:nth-child(2) {
  left: 50%;
  top: 60%;
  animation-delay: 2s;
}

.floating-decor span:nth-child(3) {
  left: 70%;
  top: 20%;
  animation-delay: 4s;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.1);
  }
}
