{% extends "base.html" %} 
{% block title %}Campus Navigation App - Sent{% endblock %}

{% block content %}
<div class="background-animation">
    <div class="circle" style="top: 10%; left: 20%; animation-duration: 12s;"></div>
    <div class="circle" style="top: 30%; left: 50%; animation-duration: 8s;"></div>
    <div class="circle" style="top: 60%; left: 70%; animation-duration: 14s;"></div>
    <div class="circle" style="top: 80%; left: 10%; animation-duration: 10s;"></div>
</div>

<div class="login-container">
    <h2>Login Email Sent</h2>
    <p>We've sent a magic link to your email address. Please check your inbox and click the link to log in.</p>
    <button onclick="window.location.href=`{% url 'login' %}`">Back to Login</button>
</div>
{% endblock %}

